<h1>Hello There</h1>

<h2>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</h2>
<form action="url-shortener", method="POST">
    <label for="url">Website URL</label>
    <input type="url" name="url" value="">

    <br>

    <label for="code">Short Name</label>
    <input type="text" name="code" value="">

    <input type="submit" value="Shorten">
</form>

<form action="url-shortener", method="POST" enctype="multipart/form-data">
    <label for="file">File</label>
    <input type="file" name="file" value="">

    <br>

    <label for="code">Short Name</label>
    <input type="text" name="code" value="">

    <input type="submit" value="Shorten">
</form>